/* ABSTRACTS */
@import 'abstracts/variables';
@import 'abstracts/mixins';

/* BASE */
@import 'base/reset';
@import 'base/base';
@import 'base/typography';

/* LAYOUT */
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';

/* COMPONENTS */
@import 'components/navbar';
@import 'components/cards';
@import 'components/buttons';

/* PAGES */
@import 'pages/home';
