.hero {
  padding: 4rem 0;
  background-color: #f5f5f5;
}

.features {
  padding: 4rem 0;
}

.cta {
  padding: 4rem 0;
  background-color: $primary-color;
  color: #fff;

  &__title {
    font-size: 2.5rem;
  }

  @include respond-mobile {
    padding: 2rem 0;

    &__title {
      font-size: 1.8rem;
    }
  }
}
